<% layout('layouts/boilerplate.ejs') %>
    <div class="row">
        <h1 class="text-center">New Project</h1>
        <div class="col-md-6 offset-md-3 mb-5">
            <form action="/projects" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="project[title]" required>
                    <div class="invalid-feedback">
                        Please provide a project title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">description</label>
                    <textarea class="form-control" type="text" id="description" name="project[description]"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please provide a project description.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="repository">repository</label>
                    <input class="form-control" type="text" id="repository" name="project[repository]" required>
                    <div class="invalid-feedback">
                        Please provide a project repository.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="category">category</label>
                    <input class="form-control" type="text" id="category" name="project[category]" required>
                    <div class="invalid-feedback">
                        Please provide a project category.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Choose Image(s)</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add project</button>
                </div>
            </form>
        </div>
    </div>